html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: auto;
  height: 100%
}

table {
  empty-cells: show;
}

a:hover,
a:active {
  text-decoration: none;
}

body {
  border: 0px;
  margin: 0px auto;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #eee;
  color: #3c4858;
  font-weight: 300;
  height: 100%
}

.login-menu {
  right: 0;
  left: auto;
}
